<div class="container">
  <div class="left-section">
    <img src="indian flag 2.png" alt="Future of Children">
  </div>

  <div class="right-section">
    <div class="form-container">
      <h2>LOGIN PAGE</h2>
      <form>
        <label for="user">User Name</label>
        <input class="form-control" type="text" [(ngModel)]="user" name="user">

        <label for="pass">Password</label>
        <input class="form-control" type="password" [(ngModel)]="pass" name="pass">

        <label for="disabilityId">Unique ID</label>
        <input class="form-control" type="text" [(ngModel)]="disabilityId" name="disabilityId" placeholder="(Enter government unique disability id)">
        (Disability ID start with DIS followed by 9 digits Eg: DIS123456789)

        <div class="buttons">
          <button type="submit" class="btn btn-primary" (click)="onsubmit()">Submit</button>
          <button type="reset" class="btn btn-danger" (click)="onreset()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="showWarning" class="warning-overlay">
  <p>Please open as a desktop site.</p>
</div>

